.background
		{
			background:#707070;
			margin:0px;
		}	

		.headline
		{
			background:#ffffff;
			color:black;
			font-size: 20px;
			text-align: right;
			padding-right: 0px;
			padding-top: 0px;
			padding-bottom: 0px;
			position: sticky;
  			top: 0;
  			min-height: 2em;
  			border-style:solid;
  			border-color: black;
  			border-width: 3px;
  			z-index: 50;
  			
			 
  
  
 
			/*display: flex;*/
		}

		.ImgSet
		{
			height: 90px;
			width: 140px;
			border-style: solid;
			border-width: 3px;
			border-color: black;

		}

		.link1
		{
			text-decoration: none;
			color: black;
		}

		.link1:hover
		{
			color:  #0000ff;
		}
		
		.listek
		{
			background:white;
			display: inline-block;
			color: black;
			height: 100vh;
			width: 94%;
			margin-top: 70px ;
			border-style:solid;
  			border-color: black;
  			border-width: 3px;
		}

		.ghitext
		{
			margin-top:90px;
			font-size: 30px;
		}

		.ergatext
		{
			margin-top:30px ;
			font-size: 20px ;
		}

		.listek2
		{
			background:white;
			display: inline-block;
			color: black;
			min-height: 90vh;
			width: 94%;
			margin-top: 70px ;
			border-style:solid;
  			border-color: black;
  			border-width: 3px;
  			border-radius: 25px;
  			
		}


		.posit
		{
			position:absolute;
			background: red;
			height: 240px;
			width: 90px;
			border-radius: 10px;
			right: 200px;
			border-style: solid;
			border-color: black;
  			border-width: 3px;
  			border-radius: 25px;
			top: 150px;
		}


		.feetPICS
		{
			float: left;
			margin: 70px;
			width: 50%;

		}

		.textpzh
		{
			font-size:25px;
			margin-top: 90px;
		}

		.mamaPNG
		{
			position:absolute;
			background: grey;
			height: 40px;
			width: 200px;
			border-radius: 10px;
			margin-left: 850px;
			border-style: solid;
			border-color: black;
  			border-width: 3px;
  			border-radius: 25px;
  			margin-top: 100px;
  			font-size: 22px;
  			display: flex;
  			align-items: center;
  			justify-content: center;
		}

		.arabic
		{
			font-size: 24px;
			/*width: 50%;*/
			margin-top: 0px;
			margin-right: 200px;
			margin-bottom: 200px;
			margin-left:200px;
		}

		.noArabic
		{
			width: 600px;
			height: 400px;
			float: center;
			margin: 80px;
			border-style: solid;
			border-color: black;
  			border-width: 3px;
  			border-radius: 10px;
  			margin-top: 100px;
		}

		.cur
		{
			cursor: default;
		}